<div
  class="editor-view"
  ngf-drop="$ctrl.importFiles($files)"
  ngf-multiple="true"
  ngf-drag-over-class="'-dragging-file'"
  ng-model-options="{updateOn: 'drop paste'}"
  >
  <div class="topbar">
    <button
      type="button"
      class="btn-clear nav-button"
      ng-click="$ctrl.collapsed.fileList = !$ctrl.collapsed.fileList"
    ><i class="fa fa-navicon"></i></button>
    <div class="toggle-panel-buttons">
      <button
        type="button"
        class="btn-clear editor-button"
        ng-click="$ctrl.toggleEditorCollapse()"
        ng-class="{'active': !$ctrl.collapsed.editor}"
      >Editor</button><!--
   --><button
        type="button"
        class="btn-clear live-view-button"
        ng-click="$ctrl.collapsed.liveView = !$ctrl.collapsed.liveView"
        ng-class="{'active': !$ctrl.collapsed.liveView}"
      >Output</button>
      <label class="hide-mode-label">
        <span></span>
        <input type="checkbox" ng-model="$ctrl.hideOutputMode">
        <span>Hide mode</span>
      </label>
    </div>
  </div>
  <div
    class="content"
    ui-layout="$ctrl.uiLayout"
    add-moving-splitbar-class
    ui-layout-loaded
    >
    <div
      class="file-list-wrapper"
      ui-layout-container
      collapsed="$ctrl.collapsed.fileList"
      size="175px"
      >
      <ul class="file-list">
        <li
          ng-repeat="file in $ctrl.editor.fileList track by file.name"
          class="file-list-item"
          ng-class="{'active': $ctrl.editor.activeFile === file}"
          >
          <button
            type="button"
            class="select-file-button btn-clear"
            ng-click="$ctrl.changeActiveFile(file)"
            ng-dblclick="$ctrl.showRenameFilePrompt(file)"
          >{{file.name}}</button>
          <button
            type="button"
            class="remove-file-button btn-clear"
            ng-click="$ctrl.removeFile(file)"
          ><i class="fa fa-remove" aria-hidden="true"></i></button>
        </li>
        <li class="file-list-item">
          <button
            type="button"
            class="file-bar-button select-file-button btn-clear"
            ng-click="$ctrl.showNewFilePrompt()"
          ><i class="fa fa-file-code-o" aria-hidden="true"></i><span>New file</span></button>
        </li>
      </ul>
    </div>
    <div
      class="editor-wrapper"
      ui-layout-container
      collapsed="$ctrl.collapsed.editor"
      >
      <div
        ace-model-manager
        ace-model-manager-on-load="$ctrl.aceEditorLoadListener($acee)"
        ng-show="!$ctrl.editor.activeFile.file"
      ></div>
      <img
        ng-src="{{$ctrl.editor.activeFile.file|ngfDataUrl}}"
        ng-if="$ctrl.editor.activeFile.file"
      >
    </div>
    <div
      class="live-view-wrapper"
      ui-layout-container
      collapsed="$ctrl.collapsed.liveView"
      >
      <div class="live-view-overlay"></div>
      <iframe
        id="live-view"
        ng-if="!$ctrl.collapsed.liveView || $ctrl.hideOutputMode"
        live-demo-iframe
        ng-src="about:blank"
      ></iframe>
    </div>
  </div>
</div>
