.editor-view {
  $mobile-max-width: 1920px;
  $top-bar-height: 30px;

  .topbar {
    background: #eee;
    height: $top-bar-height;
    width: 100%;
  }

  .nav-button {
    width: $top-bar-height;
    height: $top-bar-height;
    position: absolute;
  }

  .toggle-panel-buttons {
    text-align: center;
    button {
      height: $top-bar-height;
      border-right: 1px solid #ddd;
      &:first-child {
        border-left: 1px solid #ddd;
      }

      :hover {
        background: #eaeaea;
      }
      &.active {
        background: #e0e0e0;
        &:hover {
          background-color: #dadada;
        }
      }
    }
  }

  .hide-mode-label {
    position: absolute;
    height: $top-bar-height;
    font-size: 13px;
    > * {
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        height: 100%;
      }
    }
  }

  .content {
    overflow-x: hidden;
    top: $top-bar-height;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  .file-list-wrapper {
    background: #f2f2f2;
    height: 100%;
  }

  .file-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;

    .file-list-item {
      position: relative;

      &:hover {
        $bg-color: 236;
        background: rgb($bg-color, $bg-color, $bg-color);

        .select-file-button {
          color: #06a;
        }

        .remove-file-button {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          width: 25px;
          color: #444;
          background: rgba($bg-color, $bg-color, $bg-color, 0.85);

          &:hover {
            color: #cc1111;
          }
        }
      }

      &.active {
        background: rgb(0, 136, 255);

        .select-file-button {
          color: white;
        }

        .remove-file-button {
          background: rgba(0, 136, 255, 0.85);
        }
      }
    }

    .select-file-button {
      color: #08c;
      font-size: 12px;
      width: 100%;
      padding-left: 10px;
      height: 25px;
      text-align: left;
      white-space: nowrap;

      @media (max-width: 767px) {
        padding-left: 5px;
      }
    }

    .remove-file-button {
      display: none;
    }

    .file-bar-button {
      height: 30px;

      i {
        color: black;
      }

      span {
        color: #4d4d4d;
        font-style: italic;
        padding-left: 6px;
      }

      &:hover span {
        text-decoration: underline;
      }
    }
  }

  .ace_editor {
    height: 100%;
  }

  .live-view-wrapper {
    overflow: hidden;
  }

  .live-view-overlay {
    display: none;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .moving-splitbar .live-view-overlay {
    display: block;
  }

  #live-view {
    border: 0;
    height: 100%;
    width: 100%;
  }

  .ui-splitbar {
    background: #ddd;
    transition: background 0.2s;

    &:hover {
      background: #93a97b;
    }
    &.-moving {
      background: #c4e1a4;
    }
  }
}
